<div class="row m-4">
  <div class="col-4">
    <input type="text" [(ngModel)]="searchString" (keydown.enter)="searchProducts()" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
  <div>
    <button (click)="searchProducts()" class="btn btn-primary">Buscar producto</button>
  </div>
  <div class="ml-2" [hidden]="monitoredMode">
    <button (click)="updateMonitoredProducts()" class="btn btn-success" [disabled]="!(monitoredProducts.length > 0)">Añadir seleccionados a monitoreados</button>
  </div>
</div>
<div class=" mt-2">
  <ul>
    <app-product *ngFor="let product of products" 
      [monitoredMode]="monitoredMode" 
      [product]="product" 
      (monitoredProduct)="updateMonitoredProduct($event)" 
      (delete)="deleteProduct($event)">
    </app-product>
  </ul>
  <div class="alert alert-danger" role="alert" *ngIf="!(products.length > 0)">
    <strong>Ningún producto concuerda con la búsqueda</strong>
  </div>
</div>
